
.hide{
    display: none;
}
.warp{
    margin: 2rem;
}
//.ui.styled.accordion.condition,{
//    border: 1px solid #a9d5de;
//}
.condition .ui.form{
    width: 70%;
}

.ui.styled.accordion .active,.ui.styled.accordion .active.title {
    background: rgba(233, 250, 255,.2);

}

.table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;

    tr{
        cursor: pointer;
        &:hover{
            background: #fffaf3;
        }
    }
}
.ui.modal{
    top: 15%;
}
//.ui.dimmer{
//    .ui.modal{
//        top: 0px;
//
//        //.description{
//        //    padding: 20px;
//        //    max-height: 450px;
//        //    overflow: auto;
//        //}
//    }
//}