.hide {
  display: none;
}
.warp {
  margin: 2rem;
}
.condition .ui.form {
  width: 70%;
}
.ui.styled.accordion .active,
.ui.styled.accordion .active.title {
  background: rgba(233, 250, 255, 0.2);
}
.table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}
.table tr {
  cursor: pointer;
}
.table tr:hover {
  background: #fffaf3;
}
.ui.modal {
  position: absolute;
  margin-top: 0px!important;
  top: 3rem!important;
}
.ui.active.dimmer { 
    overflow: auto;
}